.notFound{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notFound h1{
    font-size: 180px;
    font-weight: bolder;
    background: linear-gradient(125deg, #ff2600 0%, #ff0c69 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.notFound h4{
    font-size: 48px;
}

.notFound a{
    display: inline-block;
    padding: 10px 90px;
    font-size: 20px;
    transition: .3s ease-in-out;
}

