:root{
    --primary-color: #e74c3c;
}


/* global */
html{
    scroll-behavior: smooth;
}
a, a:hover{
    text-decoration: none !important;
}

body{
    background-color: #eeeef0 !important;
}

body .app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img{
    max-width: 100%;
}

.primary_color{
    color: var(--primary-color);
}
.priamry_background{
    background-color: var(--primary-color);
}
.text_justify{
    text-align: justify;
}

.pointer{
    cursor: pointer;
}

/* my_primay_button */

.primary_button{
    background: rgb(27, 27, 27);
    display: inline-block;
    padding: 10px 40px ;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: .3s ease-in-out;
}

.primary_button span{
    position: relative;
    color: #fff;
    transition: .5s ease-in-out;
}

.primary_button::before{
    content: '';
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    opacity: 0;
    transition: .3s ease-in-out;
}


.primary_button:disabled{
    cursor: no-drop;
    background-color: rgb(112, 107, 107);
}

.primary_button:disabled:hover::before{
    transform: scaleX(0);
    opacity: 0;
}

.primary_button:hover::before{
    transform: scaleX(1);
    opacity: 1;
}

